In [11]:

import pandas as pd
import time
import requests
import pandas as pd
import numpy as np

import warnings

from datetime import datetime, timedelta


warnings.filterwarnings('ignore')

In [12]:
file_path = 'Odds_data/E0_1718.csv'
df1718 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_1819.csv'
df1819 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_1920.csv'
df1920 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2021.csv'
df2021 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2122.csv'
df2122 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2223.csv'
df2223 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2324.csv'
df2324 = pd.read_csv(file_path)

In [13]:
# Since the user wants to retain all columns and records, we need to set ignore_index to True.
# This will ensure that the concatenated dataframe has a new integer index.

# Concatenating the dataframes along rows with a new index
concatenated_dfs = pd.concat([df1718, df1819, df1920, df2021, df2122, df2223, df2324], ignore_index=True)

concatenated_dfs

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2017,Brighton,Man City,0,2,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,E0,19/05/2024,Crystal Palace,Aston Villa,5,0,H,2,0,H,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
2656,E0,19/05/2024,Liverpool,Wolves,2,0,H,2,0,H,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
2657,E0,19/05/2024,Luton,Fulham,2,4,A,1,2,A,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
2658,E0,19/05/2024,Man City,West Ham,3,1,H,2,1,H,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
2659,E0,19/05/2024,Sheffield United,Tottenham,0,3,A,0,1,A,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [14]:
concatenated_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Columns: 127 entries, Div to AvgCAHA
dtypes: float64(103), int64(16), object(8)
memory usage: 2.6+ MB

In [15]:
# Columns to be dropped as provided by the user
columns_to_drop = [
    'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5',
    'GB>2.5', 'GB<2.5', 'B365>2.5', 'B365<2.5', 'P>2.5',
    'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5',
    'FTHG', 'HG', 'FTAG', 'AG', 'FTR', 'Res', 'HTHG', 'HTAG', 'HTR',
    'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW', 'AHW',
    'HC', 'AC', 'HF', 'AF', 'HFKC', 'AFKC', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR'
] 


# Dropping the specified columns from the concatenated dataframe

for col in columns_to_drop:
    concatenated_dfs[col] = 0

# Dropping the columns
cleaned_df = concatenated_dfs.drop(columns=columns_to_drop)

cleaned_df.info()  # Display the head of the cleaned dataframe to verify.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 95 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Div        2660 non-null   object
 1   Date       2660 non-null   object
 2   HomeTeam   2660 non-null   object
 3   AwayTeam   2660 non-null   object
 4   B365H      2660 non-null   float64
 5   B365D      2660 non-null   float64
 6   B365A      2660 non-null   float64
 7   BWH        2658 non-null   float64
 8   BWD        2658 non-null   float64
 9   BWA        2658 non-null   float64
 10  IWH        2478 non-null   float64
 11  IWD        2478 non-null   float64
 12  IWA        2478 non-null   float64
 13  LBH        380 non-null    float64
 14  LBD        380 non-null    float64
 15  LBA        380 non-null    float64
 16  PSH        2660 non-null   float64
 17  PSD        2660 non-null   float64
 18  PSA        2660 non-null   float64
 19  WHH        2660 non-null   float64
 20  WHD        2660 non-null   float64
 21  WHA        2660 non-null   float64
 22  VCH        2660 non-null   float64
 23  VCD        2660 non-null   float64
 24  VCA        2660 non-null   float64
 25  Bb1X2      760 non-null    float64
 26  BbMxH      760 non-null    float64
 27  BbAvH      760 non-null    float64
 28  BbMxD      760 non-null    float64
 29  BbAvD      760 non-null    float64
 30  BbMxA      760 non-null    float64
 31  BbAvA      760 non-null    float64
 32  BbAH       760 non-null    float64
 33  BbAHh      760 non-null    float64
 34  BbMxAHH    760 non-null    float64
 35  BbAvAHH    760 non-null    float64
 36  BbMxAHA    760 non-null    float64
 37  BbAvAHA    760 non-null    float64
 38  PSCH       2660 non-null   float64
 39  PSCD       2660 non-null   float64
 40  PSCA       2660 non-null   float64
 41  Time       1900 non-null   object
 42  MaxH       1900 non-null   float64
 43  MaxD       1900 non-null   float64
 44  MaxA       1900 non-null   float64
 45  AvgH       1900 non-null   float64
 46  AvgD       1900 non-null   float64
 47  AvgA       1900 non-null   float64
 48  AHh        1900 non-null   float64
 49  B365AHH    1900 non-null   float64
 50  B365AHA    1900 non-null   float64
 51  PAHH       1900 non-null   float64
 52  PAHA       1900 non-null   float64
 53  MaxAHH     1900 non-null   float64
 54  MaxAHA     1900 non-null   float64
 55  AvgAHH     1900 non-null   float64
 56  AvgAHA     1900 non-null   float64
 57  B365CH     1900 non-null   float64
 58  B365CD     1900 non-null   float64
 59  B365CA     1900 non-null   float64
 60  BWCH       1888 non-null   float64
 61  BWCD       1888 non-null   float64
 62  BWCA       1888 non-null   float64
 63  IWCH       1715 non-null   float64
 64  IWCD       1715 non-null   float64
 65  IWCA       1715 non-null   float64
 66  WHCH       1900 non-null   float64
 67  WHCD       1900 non-null   float64
 68  WHCA       1900 non-null   float64
 69  VCCH       1900 non-null   float64
 70  VCCD       1900 non-null   float64
 71  VCCA       1900 non-null   float64
 72  MaxCH      1900 non-null   float64
 73  MaxCD      1900 non-null   float64
 74  MaxCA      1900 non-null   float64
 75  AvgCH      1900 non-null   float64
 76  AvgCD      1900 non-null   float64
 77  AvgCA      1900 non-null   float64
 78  B365C>2.5  1900 non-null   float64
 79  B365C<2.5  1900 non-null   float64
 80  PC>2.5     1892 non-null   float64
 81  PC<2.5     1892 non-null   float64
 82  MaxC>2.5   1900 non-null   float64
 83  MaxC<2.5   1900 non-null   float64
 84  AvgC>2.5   1900 non-null   float64
 85  AvgC<2.5   1900 non-null   float64
 86  AHCh       1900 non-null   float64
 87  B365CAHH   1899 non-null   float64
 88  B365CAHA   1899 non-null   float64
 89  PCAHH      1900 non-null   float64
 90  PCAHA      1900 non-null   float64
 91  MaxCAHH    1899 non-null   float64
 92  MaxCAHA    1899 non-null   float64
 93  AvgCAHH    1900 non-null   float64
 94  AvgCAHA    1900 non-null   float64
dtypes: float64(90), object(5)
memory usage: 1.9+ MB

In [16]:


# Now, dropping columns with NaN values
final_df = cleaned_df.dropna(axis=1, how='any')

print(final_df.columns)  # Display the head of the dataframe to verify.

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A', 'PSH',
       'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD',
       'PSCA'],
      dtype='object')

In [17]:
# Mapping of abbreviated column names to full names as provided by the key
column_name_mapping = {
    'Div': 'League Division',
    'Date': 'Match Date',
    'HomeTeam': 'Home Team',
    'AwayTeam': 'Away Team',
    'B365H': 'Bet365 Home Win Odds',
    'B365D': 'Bet365 Draw Odds',
    'B365A': 'Bet365 Away Win Odds',
    'BWH': 'Bet&Win Home Win Odds',
    'BWD': 'Bet&Win Draw Odds',
    'BWA': 'Bet&Win Away Win Odds',
    'IWH': 'Interwetten Home Win Odds',
    'IWD': 'Interwetten Draw Odds',
    'IWA': 'Interwetten Away Win Odds',
    'PSH': 'Pinnacle Home Win Odds',
    'PSD': 'Pinnacle Draw Odds',
    'PSA': 'Pinnacle Away Win Odds',
    'WHH': 'William Hill Home Win Odds',
    'WHD': 'William Hill Draw Odds',
    'WHA': 'William Hill Away Win Odds',
    'VCH': 'VC Bet Home Win Odds',
    'VCD': 'VC Bet Draw Odds',
    'VCA': 'VC Bet Away Win Odds',
    'PSCH': 'Pinnacle Closing Home Win Odds',
    'PSCD': 'Pinnacle Closing Draw Odds',
    'PSCA': 'Pinnacle Closing Away Win Odds'
}

final_df = final_df.rename(columns=column_name_mapping)

In [18]:
final_df

,League Division,Match Date,Home Team,Away Team,Bet365 Home Win Odds,Bet365 Draw Odds,Bet365 Away Win Odds,Pinnacle Home Win Odds,Pinnacle Draw Odds,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,E0,11/08/2017,Arsenal,Leicester,1.53,4.50,6.50,1.53,4.55,6.85,1.53,4.2,6.00,1.53,4.50,6.50,1.49,4.73,7.25
1,E0,12/08/2017,Brighton,Man City,11.00,5.50,1.33,10.95,5.55,1.34,10.00,4.8,1.33,10.00,5.50,1.33,11.75,6.15,1.29
2,E0,12/08/2017,Chelsea,Burnley,1.25,6.50,15.00,1.26,6.30,15.25,1.25,5.5,13.00,1.25,6.25,15.00,1.33,5.40,12.25
3,E0,12/08/2017,Crystal Palace,Huddersfield,1.83,3.60,5.00,1.83,3.58,5.11,1.80,3.3,5.00,1.83,3.60,5.00,1.79,3.56,5.51
4,E0,12/08/2017,Everton,Stoke,1.70,3.80,5.75,1.70,3.83,5.81,1.70,3.5,5.50,1.70,3.80,5.75,1.82,3.49,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,E0,19/05/2024,Crystal Palace,Aston Villa,1.85,4.33,3.60,1.83,4.37,3.74,1.85,4.2,3.50,1.80,4.00,3.70,1.63,4.64,4.99
2656,E0,19/05/2024,Liverpool,Wolves,1.17,8.00,15.00,1.16,9.27,13.56,1.14,8.5,15.00,1.13,8.00,15.00,1.13,10.69,16.27
2657,E0,19/05/2024,Luton,Fulham,2.90,3.90,2.20,2.93,3.92,2.26,2.80,4.0,2.20,2.88,3.75,2.20,3.11,3.99,2.19
2658,E0,19/05/2024,Man City,West Ham,1.08,12.00,21.00,1.09,13.11,20.39,1.07,12.0,21.00,1.07,10.50,22.00,1.07,15.01,27.84
2659,E0,19/05/2024,Sheffield United,Tottenham,7.00,6.00,1.33,7.16,6.00,1.35,7.50,6.0,1.30,7.50,5.75,1.30,7.99,6.11,1.35

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   League Division                 2660 non-null   object
 1   Match Date                      2660 non-null   object
 2   Home Team                       2660 non-null   object
 3   Away Team                       2660 non-null   object
 4   Bet365 Home Win Odds            2660 non-null   float64
 5   Bet365 Draw Odds                2660 non-null   float64
 6   Bet365 Away Win Odds            2660 non-null   float64
 7   Pinnacle Home Win Odds          2660 non-null   float64
 8   Pinnacle Draw Odds              2660 non-null   float64
 9   Pinnacle Away Win Odds          2660 non-null   float64
 10  William Hill Home Win Odds      2660 non-null   float64
 11  William Hill Draw Odds          2660 non-null   float64
 12  William Hill Away Win Odds      2660 non-null   float64
 13  VC Bet Home Win Odds            2660 non-null   float64
 14  VC Bet Draw Odds                2660 non-null   float64
 15  VC Bet Away Win Odds            2660 non-null   float64
 16  Pinnacle Closing Home Win Odds  2660 non-null   float64
 17  Pinnacle Closing Draw Odds      2660 non-null   float64
 18  Pinnacle Closing Away Win Odds  2660 non-null   float64
dtypes: float64(15), object(4)
memory usage: 395.0+ KB

In [20]:
csv_file_path = '/Users/lkimball/Desktop/Flatiron/CapstoneProject/Odds_data/EPL_Odds_data.csv'
final_df.to_csv(csv_file_path, index=False)